:root {
  --bg-color: #f5f5f5;
  --card-bg-color: #ece7df;
  --card-bg-color2: #faf5ef;
}

.container {
  height: 100vh;
  text-align: center;
  background-color: var(--bg-color);
}

main {
  width: 767px;
  height: 100%;
  margin: auto;
}

.cpu-hand {
  margin-bottom: 60px;
}

.prompt {
  margin-top: 10px;
  font-size: 3rem;
}

.cpu-hand .card {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  background: white;
}

.user-hand {
  display: flex;
  justify-content: space-between;
}

.user-hand .card {
  width: 30%;
  height: 100%;
  background-color: var(--card-bg-color2);
  overflow: hidden;
  box-shadow: 8px 8px 8px 1px rgb(0, 0, 0, 0.1);
}

.user-hand .card img {
  width: 80%;
}

.card {
  border-radius: 20px;
}

/* 💻 웹 (PC 화면, 1200px 이상) */
@media (min-width: 1200px) {
  .main {
    width: 1200px;
  }
}

/* 🖥 중형 화면 (1024px ~ 1199px) */
@media (max-width: 1199px) {
  .main {
    width: 90%;
  }
}

/* 📱 태블릿 (768px ~ 1023px) */
@media (max-width: 1023px) {
  .main {
    width: 95%;
  }
}

/* 📲 모바일 (480px ~ 767px) */
@media (max-width: 767px) {
  .main {
    width: 100%;
    padding: 0 20px;
  }
}

/* 📳 소형 모바일 (320px ~ 479px) */
@media (max-width: 479px) {
  .main {
    width: 100%;
    padding: 0 10px;
  }
}
